@tailwind base;

@tailwind components;

@tailwind utilities;

.container {
  width: 100%;
  padding: 40px 10px;
  max-width: 850px;
  margin: 0 auto;
}

.nav-link {
  text-decoration: none;
  color: initial;
}

.status-button {
  font-size: 13px;
  align-items: center;
  padding: 6px 15px;
  border-radius: 10px;
  font-weight: bold;
}



.button {
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  font-size: 13px;
  margin-right: 8px;
  color: #fff;
}

.spin {
  border: solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
}

input,
option,
select {
  background-color: #1e2139;
  border: 0px;
  outline: none;
  margin-bottom: 18px;
  border-radius: 5px;
  height: 35px;
  font-size: 14px;
  padding-left: 5px;
}

label {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 13px;
}

.listened {
  color: #33d69f;
  background-color: rgba(51, 214, 160, 0.1);
}

.listened::before {
  background-color: #33d69f;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 1px
}

.pending {
  color: #ff8f00;
  background-color: rgba(255, 145, 0, 0.1);
}

.pending::before {
  background-color: #ff8f00;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 1px
}

.draft {
  color: #dfe3fa;
  background-color: rgba(223, 227, 250, 0.1);
}

.draft::before {
  background-color: #dfe3fa;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 1px
}

.update-button {
  position: absolute;
  bottom: -264px;
  left: 320px

}
